<<<<<<< HEAD
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  .form-container {
    margin-top: 30px;
    text-align: center;
  }
  header {
    display: flex;
    justify-content: center;
  }
  
=======
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  .form-container {
    margin-top: 30px;
    text-align: center;
  }
  header {
    display: flex;
    justify-content: center;
  }
  
>>>>>>> 891abe5d7110c2fb892967e1be5d3a4ff6a67dae
  