.testimonialpage0-container {
  min-height: 100vh;
}
.testimonialpage0-testimonialpage0 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(140, 104, 35, 1) 0%, rgba(52, 9, 22, 0.6000000238418579) 61%, rgba(8, 3, 3, 1) 100%);
}
.testimonialpage0-vector {
  top: 356px;
  left: 1310px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.testimonialpage0-vector1 {
  top: 406px;
  left: 130px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.testimonialpage0-ellipse29 {
  top: 254px;
  left: 255px;
  width: 220px;
  height: 220px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
}
.testimonialpage0-ellipse28 {
  top: 225px;
  left: 380px;
  width: 297px;
  height: 297px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
}
.testimonialpage0-group47 {
  top: 25px;
  left: 147px;
  width: 1147px;
  height: 101px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-text {
  left: 151px;
  color: rgb(48, 48, 48);
  bottom: -9px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Beau Rivage;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 12px;
  text-decoration: none;
}
.testimonialpage0-text01 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Antic Didone;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 60px;
  text-decoration: none;
}
.testimonialpage0-group46 {
  top: 710px;
  left: 332px;
  width: 776px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-rectangle106 {
  top: 0px;
  left: 0px;
  width: 776px;
  height: 178px;
  opacity: 0.35;
  position: absolute;
}
.testimonialpage0-text02 {
  top: 27px;
  left: 27px;
  color: rgba(112, 90, 96, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Aoboshi One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.testimonialpage0-text03 {
  color: rgb(112, 90, 96);
  right: 42px;
  bottom: -19px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Aoboshi One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.testimonialpage0-text04 {
  top: 43px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.testimonialpage0-text13 {
  top: 574px;
  left: 591px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.testimonialpage0-ellipse30 {
  top: 254px;
  left: 965px;
  width: 220px;
  height: 220px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
}
.testimonialpage0-ellipse23 {
  top: 225px;
  left: 775px;
  width: 297px;
  height: 297px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
}
.testimonialpage0-ellipse27 {
  top: 183px;
  left: 531px;
  width: 365px;
  height: 365px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
}
.testimonialpage0-group54 {
  top: 885px;
  left: 1229px;
  width: 167px;
  height: 83px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-group55 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 83px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-group52 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-submityourreview {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-group48 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.testimonialpage0-group51 {
  top: 35px;
  left: 61px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-group50 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-vector2 {
  top: 13px;
  left: 13px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.testimonialpage0-ellipse33 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.testimonialpage0-component50 {
  top: 27px;
  left: 53px;
  width: 56px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.testimonialpage0-ellipse36 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.testimonialpage0-group63 {
  top: 651px;
  left: 628px;
  width: 183.1211700439453px;
  height: 24.542606353759766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.testimonialpage0-frame21 {
  top: 0px;
  left: 0px;
  width: 183px;
  height: 25px;
  position: absolute;
}
